.section {
  position: relative;
  border: 2px solid white;
}
.grapic {
  background-color: rgb(185, 152, 216);
  position: absolute;
  top: 0;
  right: 0;

  border-top: 50px solid transparent;
  border-left: 100px solid white;
  border-right: 60px solid transparent;
  border-bottom: 50px solid transparent;
}
.header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.header-title {
  background-color: rgb(184, 146, 220);
  color: white;
  width: 40%;
  margin: auto;
  border-radius: 3px;
}
.gap-line {
  color: rgb(202, 160, 243);
  text-align: center;
  border-bottom: 2px dotted;
  width: 50%;
  margin: auto;
}
.team-section {
  text-align: center;
}
.management-header {
  background-color: rgb(184, 146, 220);
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 3px;
}
.management-item img {
  width: 30%;
}
.management-item h4 {
  margin-top: 16px;
}
.management-item p {
  margin-top: 10px;
  color: rgb(194, 148, 237);
}
.management-section {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.management-items {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.developer-section {
  position: relative;
  border: 2px solid white;
  margin-top: 5rem;
}
.developer-section-corner {
  background-color: rgb(185, 152, 216);
  position: absolute;
  top: 0;
  left: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.development-header {
  text-align: center;
  background-color: rgb(184, 146, 220);
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 3px;
}
.development-section {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.development-team {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.sels-team-coner {
  background-color: rgb(185, 152, 216);
  position: absolute;
  top: 0;
  right: 0;

  border-top: 50px solid transparent;
  border-left: 100px solid white;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.sels-header {
  text-align: center;
  background-color: rgb(184, 146, 220);
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 3px;
}
.bottom-corner {
  background-color: rgb(185, 152, 216);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

@media only screen and (max-width: 600px) {
  .grapic,
  .sels-team-coner {
    border-top: 16px solid transparent;
    border-left: 30px solid white;
    border-right: 20px solid transparent;
    border-bottom: 16px solid transparent;
  }
  .header {
    width: 100%;
  }
  .header-title {
    width: 75%;
  }
  .gap-line {
    width: 100%;
  }
  .management-header {
    width: 75%;
  }
  .development-header {
    width: 60%;
  }
  .developer-section-corner,
  .bottom-corner {
    border-top: 16px solid transparent;
    border-right: 30px solid white;
    border-left: 20px solid transparent;
    border-bottom: 16px solid transparent;
  }
  .sels-header {
    width: 60%;
  }
  .development-section,
  .development-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992) {
  .grapic {
    border-top: 20px solid transparent;
    border-left: 40px solid white;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .header-title {
    width: 50%;
  }
  .header {
    width: 75%;
  }
  .gap-line {
    width: 75%;
  }
}
